<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quizzes</title>
    <link rel="icon" type="image/ico" href="assets/favico.ico">
    <link rel="stylesheet" href="../style/create-quiz.css">
    <link rel="stylesheet" href="../style/add-card.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/edit-quiz.js"></script>
</head>

<body>

    <div class=" navbar sticky">
        <span>
            <a href="/home"> <img src="../assets/Logo.png" class="logo"> </a>
        </span>

        <span class="tab-list">
            <a class="nav-tab" href="/home">Home</a>
            <a class="nav-tab" href="/search">Search</a>
            <a class="nav-tab  selected" href="/quiz">Quiz</a>
            <a class="nav-tab" href="/user">Profile</a>
        </span>
    </div>

    <div class="main-body">

        <form id="SearchForm">
            <div id="pagetitle" class="title"> Quizzes </div>

            <div id="createQuiz">
                <div id="createQ" class="title">Create a Quiz</div>
                <a href="/quiz/create_quiz">
                    <div id="add-card-icon">
                        +
                    </div>
                </a>
            </div>

        </form>

        <div id="searchResultContainer">

            <div id="myQuizContainer">
                <div class="title mypinLabels"> My Quizzes </div>
                {{#each quizzes}}
                <div class="searchResult">
                    <div id="topResult">
                        <div class="searchResultTitle">{{title}}</div>
                        <div class="searchResultUpInfo">{{subject}}</div>
                        <div class="searchResultUpInfo">{{description}}</div>
                    </div>
                    <div id="botResult">
                        <div id="botInfo">
                            <div class="searchResultUpInfo searchResultDownInfo"># Flashcards</div>
                            <div class="searchResultUpInfo">By: {{author.username}}</div>
                        </div>
                        <div id=buttonsResult>
                            <button id="pinBtn" class="searchResult-Btns editBtn" data-id="{{_id}}">Edit</button>
                            <br>
                            <a class="searchResult-Btns" href="/quiz/pre_start">Take Quiz</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            

            <div id="pinnedQuizContainer">
                <div class="title mypinLabels"> Pinned Quizzes </div>
                <div class="searchResult">
                    <div id="topResult">
                        <div class="searchResultTitle">Title</div>
                        <div class="searchResultUpInfo">Subject</div>
                        <div class="searchResultUpInfo">Description</div>
                    </div>
                    <div id="botResult">
                        <div id="botInfo">
                            <div class="searchResultUpInfo searchResultDownInfo"># Flashcards</div>
                            <div class="searchResultUpInfo">By: </div>
                        </div>
                        <div id=buttonsResult>
                            <a id="pinBtn" class="searchResult-Btns">
                                <span>
                                    <img id="pinIcon" src="../assets/pin.png">
                                </span>
                                Unpin
                            </a>
                            <br>
                            <a class="searchResult-Btns" href="/quiz/pre_start">Take Quiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>